/*HEADER SECTION*/

.glyphicon {
  font-size: 50px;
}

.container.landing {
  background-image: url("img/landing.jpg");
  width: 1400px;
  height: 636px;
}

.glyphicon.glyphicon-menu-hamburger {
  color: white;
}

.intro {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 3.5em;
  color: white;
}

.col {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.happy {
  background-color: #c2c6ce;
}

.party {
  background-color: #f15a29;
}

.lunch {
  opacity: 0.5;
  height: 100%;
}

.container.menu {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 210px;
}

.row.menuwrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.row.menuwrapper img {
  padding: 0;
  height: 100%;
  width: 100%;
}

.container.menu .row.menuwrapper .col-md-3 {
  padding: 0;
  margin: 0;
  height: 100%;
}

.logo {
  padding-left: 35%;
}
/*END*/

/*SUBSCRIBE SECTION*/

.sign {
  background-image: url("img/subscribe.jpg");
  width: 1400px;
  height: 301px;
  text-align: center;
  color: white;
  font-size: 30px;
  padding-top: 70px;
}

.btn.btn-default {
  /* it will fill all other buttons*/
  background-color: #f15a29;
}


/*END*/


/*FOOTER SECTION*/

.row.pic {
  background-color: #f15a29;
  text-align: center;
  color: white;
}

.fa.fa-facebook {
  background-image: url("img/facebook.png");
  width: 39px;
  height: 39px;
  font-size: 35px;
  color: #f15a29;
}

.fa.fa-twitter {
  background-image: url("img/facebook.png");
  width: 39px;
  height: 39px;
  font-size: 35px;
  color: #f15a29;
}

.fa.fa-pinterest {
  background-image: url("img/facebook.png");
  width: 39px;
  height: 39px;
  font-size: 35px;
  color: #f15a29;
}


/*END*/


/*CAROUSEL*/

.row.carosel {
  background-image: url("img/foodsBg.jpg");
  width: 1400px;
  height: 599px;
  background-position: center;
  margin-top: 35%;
}
/*END*/
